* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

body {
    overflow-x: hidden;
}

#page-wrapper {
    background-color: rgb(20, 20, 20);
}

header {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 68px;
    width: 100%;
    padding: 0 60px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.scrolled {
    background-color: black;
}

#header-left {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 15px;
    float: left;
}

.logo-container img {
    height: 50px;
}

.header-menu {
    float: left;
}

.nav {
    list-style: none;
}

.nav li {
    float: left;
    margin-left: 20px;
}

.nav li a {
    font-size: 14px;
    color: #e5e5e5;
    text-decoration: none;
}

.nav li a.active {
    color: #b3b3b3;
}

.nav li a:hover {
    color: #b3b3b3;
}

#header-right {
    display: flex;
    align-items: center;
}

.nav-div {
    margin-left: 20px;
}

.nav-div a {
    color: white;
    text-decoration: none;
}

.nav-div i {
    font-size: 21px;
}

.nav-div img {
    vertical-align: middle;
}

.search-section {
    position: relative;
}

#icon-search i {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#icon-search.active {
    position: absolute;
    top: 7px;
    left: 5px;
}

#search-input {
    display: none;
    height: 32px;
    width: 212px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    padding: 0 5px 0 30px;
}

#search-input:focus {
    outline: none;
}

#search-input.active {
    display: inline-block;
}

#wrap-search-page {
    display: none;
    min-height: 100vh;
    width: 100%;
    padding: 120px 60px 60px;
    background-color: rgb(20, 20, 20);
}

#wrap-search-page.active {
    display: block;
}

.search {
    font-size: 24px;
    color: white;
    margin-bottom: 40px;
}

#search-genres{
    padding: 5px 7px;
    border: 1px solid white;
    margin-top: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
}

#search-page{
    display: flex;
    flex-wrap: wrap;
}

.box-film:not(.principal-box) {
    flex-shrink: 0;
    width: calc(100% / 6);
    padding: 0 1px;
    color: white;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s;
    margin-bottom: 60px;
}

#search-page .box-film.unselected {
    display: none;
}

.box-film:not(.principal-box)>img {
    width: 100%;
}

.details-box {
    display: none;
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
}

.title {
    font-size: 24px;
}

.original_title {
    font-size: 20px;
}

.title h3, .original_title p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overview p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.genres p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cast p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-film:not(.principal-box) .genres {
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.box-film:not(.principal-box) .cast {
    font-size: 12px;
    margin: 0 0 5px;
}

.language img {
    margin: 3px 0;
    height: 24px;
}

.box-film:not(.principal-box) .vote {
    margin: 7px 0;
}

.box-film:not(.principal-box):hover {
    transform: scale(1.3);
    z-index: 2;
}

.box-film:not(.principal-box):hover .details-box {
    display: block;
}

.box-film:not(.principal-box):hover>img {
    filter: brightness(25%);
}

#home-page {
    display: none;
    background-color: rgb(20, 20, 20);
}

#home-page.active {
    display: block;
}

.principal-box {
    color: white;
    position: relative;
    height: 840px;
}

.principal-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.principal-box .details-box {
    display: block;
    width: 50%;
    padding: 0 30px;
    font-size: 28px;
    top: 150px;
}

.principal-box .title {
    font-size: 60px;
}

.principal-box .original_title {
    font-size: 40px;
}

.principal-box .genres {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 7px;
}

.principal-box .cast {
    font-size: 22px;
    margin: 5px 0 7px;
}

.principal-box .vote {
    font-size: 22px;
    margin: 7px 0;
}

#other-boxes {
    padding: 0 60px;
    transform: translateY(-120px);
}

.title-row {
    margin: 20px 0;
    font-size: 32px;
    font-weight: 600;
    color: white;
}

#other-boxes .row {
    display: flex;
    margin-bottom: 0;
}

#tv-page {
    display: none;
    padding: 150px 60px 130px;
    min-height: 100vh;
}

#tv-page.active{
    display: flex;
    flex-wrap: wrap;
}

#movie-page {
    display: none;
    padding: 150px 60px 130px;
    min-height: 100vh;
}

#movie-page.active{
    display: flex;
    flex-wrap: wrap;
}

#new-page {
    display: none;
    padding: 150px 60px 130px;
    min-height: 100vh;
}

#new-page.active{
    display: flex;
    flex-wrap: wrap;
}

#my-page {
    display: none;
    padding: 150px 60px 130px;
    min-height: 100vh;
}

#my-page.active{
    display: flex;
    flex-wrap: wrap;
}

footer {
    width: 50%;
    margin: auto;
    color: #808080;
    font-size: 13px;
}

footer a {
    color: #808080;
    text-decoration: none;
}

#footer-top a {
    font-size: 32px;
    margin-right: 16px;
}

#footer-middle {
    margin: 5px 0 10px;
}

.footer-menu {
    width: calc(100% / 4);
    float: left;
    list-style: none;
}

.footer-menu li {
    padding: 8px 0;
}

.footer-menu a:hover {
    text-decoration: underline;
}

#footer-bottom {
    padding: 15px 0 20px;
}

.btn-footer {
    padding: 7px;
    border: solid 1px #808080;
}

.btn-footer:hover {
    color: #ccc;
}

.section-copyright {
    font-size: 11px;
    margin-top: 30px;
}
